.App {
  text-align: center;
}

header {
  text-decoration: underline;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: white;
}

.card__container{
  box-shadow: 0 4px 15px 0 darkcyan;
  width: 50%;
  margin: 1rem 20rem; 
  padding: 0.75rem;
  border: double;
  text-align: center;
  border-radius: 0.5em;
}

img{
  max-width: 200;
  max-height: 30em;
  border-radius: 0.5em;
}

.card__container h2{
  color: #231963;
  text-decoration: underline;
}
.card__container p{
 color: #231963;
}